/*
Import required fonts
*/

@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


body, html {
    height: 100%;
  }




.pimg1{
    /* The image used */
    background-image: url("gamingsetupimage.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Miro harrastus */
.pimg2 {
    /* The image used */
    background-image: url("minecraftkuva.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Anssi harrastus */
.pimg3 {
    /* The image used */
    background-image: url("Counter-Strike-Global-Offensive.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ukko harrastus */
.pimg4 {
    /* The image used */
    background-image: url("cdkuva.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Add a darkened background to the text inside the images */
.border{
    background-color: rgba(0, 0, 0, 0.7); /* Change the color of the background to black with 70% opacity*/
    border-radius: 15px; /* Make the corners round */
}

/* Section where the information about hobbies is in */
.section{
    padding-top: 10px; /* Add padding on the top to make it more aligned vertically */
    background-color: #454653; /* Change the background color of the selection to dark grey */
    height: 25%; /* Make the height of the section 25% of the screen height */
    max-width: 100%; /* Define max width so it doesn't stretch outside of the screen */
}

/* Title inside of section */
h1{
    text-align: center; /* Make the text aligned to the center horizontally */
    font-size: 60px; /* Change the size of the text to 60px */
    color: rgb(216, 216, 216); /* Change the color of the text to bit darker white/super light gray */
    font-family: 'Source Sans Pro', sans-serif; /* Change the default font to something nicer */

}

/* Description of sections */
p{
    text-align: center; /* Make the text aligned to the center horizontally */
    font-size: 20px; /* Change the size of the text to 20px */
    color: rgb(216, 216, 216); /* Change the color of the text to bit darker white/super light gray */
    font-family: 'Source Sans Pro', sans-serif; /* Change the default font to something nicer */
}

.ptext{
    padding-top: 90px; /* Add padding to the top so the text would be more down vertically*/
    text-align: center; /* Make the text aligned to the center horizontally */
    font-size: 80px; /* Change the size of the text to 90px */
    color: white; /* Change the color to white */
}
