@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');

body, html {
    height: 100%;
  }
  



.pimg1{
    /* The image used */
    background-image: url("gamingsetup.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Miro harrastus */
.pimg2 {
    /* The image used */
    background-image: url("minecraftkuva.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Anssi harrastus */
.pimg3 {
    /* The image used */
    background-image: url("Counter-Strike-Global-Offensive.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Ukko harrastus */
.pimg4 {
    /* The image used */
    background-image: url("cdkuva.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.border{
    background-color: rgba(0, 0, 0, 0.7);
    display:inline-block;
}

.section{
    padding: 50px;
    background-color: #454653;
    height: 20%;
    max-width: 100%;
}

h2{
    text-align: center;
    font-family: 'Zhi Mang Xing';
    font-size: 90px;
}

h1{
    text-align: center;
    font-size: 60px;
    color: rgb(216, 216, 216);
}

p{
    text-align: center;
    font-size: 20px;
    color: rgb(216, 216, 216);
}

.ptext{
    padding-top: 90px;
    text-align: center;
    font-size: 80px;
    color: white;
}